
/* we use this colour palette as a guide https://coolors.co/palette/e7edff-18213e-f8fafb-fc464a-d8e2dc */
.App {
  text-align: center;
}



    
.App-logo {
  height: 35vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

:root {
  --font-size:3.75rem
}

#rc-tabs-1-tab-2 {
  color: #18213e;
}

/* make sinewave position absolute */

.card-container>svg:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  /* set line color */
  stroke: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 0, 0, 1));
  /* set color */
  /* fill: #b3bcc0;
  color: #b3bcc0; */

}

.card-container>svg:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.card-container>svg:nth-child(3) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  /* background-color: #1890ff; */
  /* linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1)); */
}

.App-header {
  background-color: #d8e2dc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(0.625rem + 2vmin); */
  color: white;
}

.App-link {
  color: #f8fafb;
}

.ant-layout-header>span:nth-child(1)>svg:nth-child(1) {
  width: 10rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* body{transform: scale(1.5);
  transform-origin: 0 0;}
 */



/* increase size of ant tab */
.ant-tabs-large>.ant-tabs-nav .ant-tabs-tab {
  font-size: 2em;
  /* min-width: 2vw;
  max-width: 20vw; */
}

/* make ant design webpage red */
.ant-layout {
  background: #18213e;
}


.ant-tabs-nav {
  background-color: transparent;
  z-index: 0;
  /* height: 4.5vh; */
}

/* .card-container {
  box-shadow: 0.3125rem 0.5rem 1.5rem 0.3125rem rgba(1, 1, 2, 0.6);
} */

.ant-tabs-card.ant-tabs-top>.ant-tabs-nav .ant-tabs-tab-active {
  border-bottom-color: #e10000;
  /* change font color */
  color: red;

  /* color: #1890ff; */
  background: #f1f4fa;
  z-index: 999;
  position: relative;
}

.ant-tabs-top>.ant-tabs-nav,
.ant-tabs-bottom>.ant-tabs-nav,
.ant-tabs-top>div>.ant-tabs-nav,
.ant-tabs-bottom>div>.ant-tabs-nav {
  margin: 0 0 0 3%;
}

.ant-tabs-card.ant-tabs-top>.ant-tabs-nav .ant-tabs-tab {
  border-bottom-color: #f1f4fa;

  background: #f1f4fa;
  position: relative;
  border-radius: 0.9375rem 0.9375rem 0 0;
  box-shadow: 0.4375rem 1.5625rem 1.75rem 0.375rem rgba(1, 1, 2, 0.6);
  clip-path: (15.625rem 15.625rem 15.625rem 0rem);
}

.ant-menu-title-content {
  text-align: left;
}

li {
  display: list-item;
  text-align: left;
}


/* set font size for whole website to 14pt */
/* html {
  font-size: 32pt;
} */
