@import '~antd/dist/antd.css';

/* we use this colour palette as a guide https://coolors.co/palette/e7edff-18213e-f8fafb-fc464a-d8e2dc */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.ant-tabs-nav .ant-layout-header {
  /* height: 3vh; */
}

.App-header {
  background-color: #d8e2dc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(0.625rem + 2vmin);
  color: white;
}

.App-link {
  color: #f8fafb;
}

.ant-layout-header>span:nth-child(1)>svg:nth-child(1) {
  width: 8vw;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* body{transform: scale(1.5);
  transform-origin: 0 0;}
 */
i {
  font-size: 1.8125rem;
}

.ant-tabs-large>.ant-tabs-nav .ant-tabs-tab {
  font-size: 200%;


}

/* make ant design webpage red */
.ant-layout {
  background: #d8e2dc;
}


.ant-tabs-nav {
  background-color: #d8e2dc;
  z-index: 0;
  /* height: 4.5vh; */
}

/* .card-container {
  box-shadow: 0.3125rem 0.5rem 1.5rem 0.3125rem rgba(1, 1, 2, 0.6);
} */

.ant-tabs-card.ant-tabs-top>.ant-tabs-nav .ant-tabs-tab-active {
  border-bottom-color: #f1f4fa;

  color: #1890ff;
  background: #f1f4fa;
  z-index: 999;
  position: relative;
}

.ant-tabs-top>.ant-tabs-nav,
.ant-tabs-bottom>.ant-tabs-nav,
.ant-tabs-top>div>.ant-tabs-nav,
.ant-tabs-bottom>div>.ant-tabs-nav {
  margin: 0 0 0.5% 3%;
}

.ant-tabs-card.ant-tabs-top>.ant-tabs-nav .ant-tabs-tab {
  border-bottom-color: #f1f4fa;
  color: #1890ff;
  background: #f1f4fa;
  position: relative;
  border-radius: 0.9375rem 0.9375rem 0 0;
  box-shadow: 0.4375rem 1.5625rem 1.75rem 0.375rem rgba(1, 1, 2, 0.6);
  clip-path: (15.625rem 15.625rem 15.625rem 0rem);
}