.table-striped-rows tr:nth-child(2n) td {
    background-color: #fbfbfb;
    font-size: 200%;
}
.table-striped-rows td{
    font-size: 200%;
    
}
.ant-checkbox {
	margin: 0px 0px 0 4px;
	z-index: 1;
}
.table-striped-rows{
    outline-color: black;
}
.table-striped-rows thead {
    font-size: 200%;
    background-color: #f1f1f1;
    color: rgb(238, 245, 248);
}

.button-container {
    margin: 0px 10px 10px 10px;
    padding: 10px;}



.button-container {
    display: grid;
    grid-template-areas: "button1" "button2" "button3" "button4";
    grid-gap: 5% 6%;
    height:30%;
    margin-top: 15%;
    padding-top: 5%;
    margin-left: -0%;
    }
    

    

.button-container > .ant-btn-lg {
	height: 90%;
    width: 100%;
	font-size: 160%;
    font-weight: bold;
    margin-bottom: -5%;
    margin-left: 5%;
    background-color: #18213e;
    box-shadow: 0px 0px 14px 2px rgba(255, 120, 117, 0.6);

}

/* .ant-table-placeholder{
    min-height: 37pc
}
.ant-table-body {
	min-height: 37pc;
} */

.ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap, .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-wrap {
	margin-left: 20pc;
}

/* center checkbox in line */
.ant-checkbox-wrapper {
    margin-bottom: 1.2em;
    margin-top: 1.2em;
    margin-left: 0.2em


}
.ant-checkbox-inner {
    scale: 1.3
    
}
.ant-checkbox-checked .ant-checkbox-inner {
    background-color: #3350ac !important;
    border-color: #3350ac !important;
  }

.ant-checkbox-checked > input:nth-child(1) {
    background-color: #3350ac !important;
    border-color: #3350ac !important;
  }
.ant-checkbox-indeterminate .ant-checkbox-input {
    background-color: #3350ac !important;
    border-color: #3350ac !important;
    color: #3350ac !important;


  }
  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
	color: #3350ac;
	/* text-shadow: 0 0 0.25px currentcolor; */
}


.MainPanel {
        background-color: 'red' ;
        /* border-radius: 25px 0   0 25px; */

    }

